<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
         <link rel="stylesheet" href="/static/css/base.css"/>
    </head>
    <body>
        <div id='navBar'>
            Microblog:
            <a class='navlink' href="{{ url_for('index') }}">Home</a>
            <a class='navlink' href="{{ url_for('login') }}">Login</a>
        </div>
        
        <div id = blockContent>
        {% block content %}{% endblock %}
    </div>
    </body>
</html>
