<html>

	<head>

  		<title>Display Times</title>
  		<link rel="stylesheet" href="/static/css/display.css"/>

	</head>

	<body>
		<div id=title>Brevet Times</div>
        <div id='navbar'>
            <button class='apiButton' onclick="location.href='/index'">Home</button>
            <button class='apiButton' onclick="location.href='/listAll'">All Times</button>
            <button class='apiButton' onclick="location.href='/listAll/json'">All Times Json</button>
            <button class='apiButton' onclick="location.href='/listAll/csv'">All Times Csv</button>
            <button class='apiButton' onclick="location.href='/listOpenOnly'">Open Only Times</button>
            <button class='apiButton' onclick="location.href='/listOpenOnly/json'">Open Only Times Json</button>
            <button class='apiButton' onclick="location.href='/listOpenOnly/csv'">Open Only Times Csv</button>
            <button class='apiButton' onclick="location.href='/listCloseOnly'">Close Only Times</button>
            <button class='apiButton' onclick="location.href='/listCloseOnly/json'">Close Only Times Json</button>
            <button class='apiButton' onclick="location.href='/listCloseOnly/csv'">Close Only Times Csv</button>
        </div>
		<div id='times'>
			{% for time in times %}
			<div class='time'>
  				<div class='titleline'>{{ time.nm }} {{ time.dist }}km</div>
  				<div class='line'>Opens: {{ time.op }}</div>
 				<div class='line'>Closes: {{ time.cl }}</div>
			</div>
			{% endfor %}
		</div>

	</body>

</html>
